XYZ/XYZ.Services/Service References/SrContato/ContatoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3424/ContatoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/XYZ.Domain" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/XYZ.Domain" minOccurs="0" name="GetContatosResult" nillable="true" type="q1:ArrayOfContato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContato" type="xs:long" />
        <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataNasc" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/XYZ.Domain" minOccurs="0" name="UpdateContatoResult" nillable="true" type="q2:Contato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>