XYZ/XYZ.Services/Service References/SrContato/ContatoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContatoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3424/ContatoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3424/ContatoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3424/ContatoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/XYZ.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContatoService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IContatoService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IContatoService_GetContatos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContatos" />
  </wsdl:message>
  <wsdl:message name="IContatoService_GetContatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContatosResponse" />
  </wsdl:message>
  <wsdl:message name="IContatoService_UpdateContato_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContato" />
  </wsdl:message>
  <wsdl:message name="IContatoService_UpdateContato_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContatoResponse" />
  </wsdl:message>
  <wsdl:portType name="IContatoService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IContatoService/Ping" message="tns:IContatoService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContatoService/PingResponse" message="tns:IContatoService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IContatoService/GetContatos" message="tns:IContatoService_GetContatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContatoService/GetContatosResponse" message="tns:IContatoService_GetContatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContato">
      <wsdl:input wsaw:Action="http://tempuri.org/IContatoService/UpdateContato" message="tns:IContatoService_UpdateContato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContatoService/UpdateContatoResponse" message="tns:IContatoService_UpdateContato_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContatoService" type="tns:IContatoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IContatoService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContatos">
      <soap:operation soapAction="http://tempuri.org/IContatoService/GetContatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContato">
      <soap:operation soapAction="http://tempuri.org/IContatoService/UpdateContato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContatoService">
    <wsdl:port name="BasicHttpBinding_IContatoService" binding="tns:BasicHttpBinding_IContatoService">
      <soap:address location="http://localhost:3424/ContatoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>